@import "tailwindcss";

:root {
  --brand-dark: #002418; 
}

.bg-noise {
  background-color: var(--brand-dark);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-attachment: fixed;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #002418;
}